body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

input {
  padding: 10px 15px;
  width: 300px;
  font-size: 16px;
  border: 1px solid #dcdcdc;
  border-radius: 24px;
  outline: none;
  margin-right: 10px;
}

#lookup {
  background-color: #1a73e8;
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}

#lookup:hover {
  background-color: #1669c1;
}

#lookup-cities {
  background-color: #34a853;
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#lookup-cities:hover {
  background-color: #2c8c44;
}

#result {
  margin-top: 40px;
  width: 80%;
  max-width: 800px;
  text-align: left;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f1f1f1;
}
